stages:
  - prepare
  - build

#
# Parepare variables
#

prepare:
  stage: prepare
  rules:
    - if: $CI_COMMIT_TAG
      when: never 
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  image: alpine:latest
  script:
    - apk add libxml2-utils
    - echo "APP_VERSION=$(xmllint --xpath "//package/version/text()" lgdxrobot_cloud_adapter/package.xml)" >> variables.env
  artifacts:
    reports:
      dotenv: variables.env
    expire_in: 1 day

#
# Build LGDXRobot Cloud Adapter
#

build-amd64:
  stage: build
  rules:
    - if: $CI_COMMIT_TAG
      when: never 
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  image: docker:24.0.5-git
  needs:
    - job: prepare
      artifacts: true
  tags:
    - saas-linux-small-amd64
  services:
    - docker:24.0.5-dind
  variables:
    ARCH: amd64
  before_script:
    - apk add zip
  script:
    - git submodule update --init --recursive
    - docker build --build-arg APP_VERSION=$APP_VERSION -f Dockerfile -o . .
    - cd debs
    - zip -r lgdxrobot-cloud-adapter-$ARCH.zip *
  artifacts:
    paths:
      - debs/lgdxrobot-cloud-adapter-$ARCH.zip
    expire_in: 1 day

build-arm64:
  stage: build
  rules:
    - if: $CI_COMMIT_TAG
      when: never 
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  image: docker:24.0.5-git
  needs:
    - job: prepare
      artifacts: true
  tags:
    - saas-linux-small-arm64
  variables:
    DOCKER_TLS_CERTDIR: "/certs"
    ARCH: arm64
  services:
    - name: docker:24.0.5-dind
      command: ["--mtu=1400"]
  before_script:
    - apk add zip
  script:
    - git submodule update --init --recursive
    - docker build --build-arg APP_VERSION=$APP_VERSION -f Dockerfile -o . .
    - cd debs
    - zip -r lgdxrobot-cloud-adapter-$ARCH.zip *
  artifacts:
    paths:
      - debs/lgdxrobot-cloud-adapter-$ARCH.zip
    expire_in: 1 day

